:root {
  --primary-color: #646cff;
  --text-color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;
  --section-background: rgba(255, 255, 255, 0.1);
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  background: url('./assets/fondoblanco.jpg') no-repeat center center/cover;
  backdrop-filter: blur(4px);
}

header {
  width: 100%;
}

.container {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: var(--text-color);
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  text-align: center;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card-text {
  font-size: 1rem;
  color: #333;
}

@media (max-width: 767px) {
  .card-title {
    font-size: 1.2rem;
  }
  
  .card-text {
    font-size: 0.9rem;
  }
}
